<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/select-ui.min.js"></script>
    <script language="JavaScript" src="__PUBLIC__/admin/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/sweetalert.css">
    <style>
        .hidden{display: none;}
    </style>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });

        });
    </script>


    <!--图片预览-->
    <script type="text/javascript">

        function previewImage(file)
        {
            var MAXWIDTH  = 300;
            var MAXHEIGHT = 200;
            var div = document.getElementById('preview_da');
            if (file.files && file.files[0])
            {
                div.innerHTML = '<img id=imghead_da>';
                var img = document.getElementById('imghead_da');
                img.onload = function(){
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width = rect.width;
                    img.height = rect.height;
                    img.style.marginLeft = rect.left+'px';
                    img.style.marginTop = rect.top+'px';
                }
                var reader = new FileReader();
                reader.onload = function(evt){img.src = evt.target.result;}
                reader.readAsDataURL(file.files[0]);
            }
            else
            {
                var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                div.innerHTML = '<img id=imghead_da>';
                var img = document.getElementById('imghead_da');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
                div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;margin-left:"+rect.left+"px;"+sFilter+src+"\"'></div>";
            }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;

                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }

            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
    </script>

</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="__ROOT__/Admin/Index/main">首页</a></li>
        <li><a href="javascript:;">信息管理</a></li>
    </ul>
</div>

<div class="formbody">

    <div id="usual1" class="usual">
        <!--信息修改-->
        <div id="tab1" class="tabson">
            <div class="formtext">
                Hi，<b>超级管理员</b>，欢迎您使用栏目管理！
            </div>
            <form action="<{:U('Category/do_content_edit')}>" enctype="multipart/form-data" method="post">
                <ul class="forminfo">
                    <input type="hidden" name="id" value="<{$data.id}>">
                    <li>
                        <label>所属栏目<b>*</b></label>
                        <div class="vocation">
                            <select class="select1" name='cate_id'>
                                <option value="<{$data.cate_id}>"><{$data['category_data']['cate_name']}></option>
                                <volist name="data_cate" id="vo">
                                    <option value="<{$vo.id}>"><{$vo.cate_name}></option>
                                </volist>
                            </select>
                        </div>
                    </li>

                    <li>
                        <label>标题<b>*</b></label>
                        <input name="news_title" type="text" class="dfinput" value="<{$data.news_title}>"/>
                    </li>

                    <li>
                        <label>图片<b>*</b></label>
                        <span class="file_div"><input type="text" name="img" value="<{$data.images_name}>"></span>
                        <input name="images" type="file" onchange="previewImage(this)" id="file" value="<{$data.images_name}>"/><i>支持图片类型：jpg、gif 、png、jpeg</i>
                    </li>

                    <li>
                        <label>预览<b>*</b></label>
                        <span id="preview_da">
                            <empty name="data['images']">
                                <img id="imghead" src="__PUBLIC__/admin/images/nopic.gif" width='300' height='200' border=0 >
                            <else/>
                                <img src="__ROOT__/Uploads/<{$data['images']}>" width='300' height='200' border=0 >
                            </empty>
                        </span>
                    </li>

                    <li>
                        <label>内容<b>*</b></label>
                        <textarea id="editor_id" name="news_content">
                            <{$data.news_content}>
                        </textarea>
                    </li>

                    <li><label>&nbsp;</label>
                        <input name="sub" type="submit" class="btn" value="马上发布"/>
                    </li>

                </ul>
            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("#usual1 ul").idTabs();
</script>

<!--<script type="text/javascript">-->
<!--$('.tablelist tbody tr:odd').addClass('odd');-->
<!--</script>-->
<script type="text/javascript">
    $(".look").click(function(){
        var id = $(this).attr("look_id");
        $.ajax({
            type : "POST",
            url : "<{:u('Category/content_look')}>",
            data : {id : id},
            dataType : 'json',
            success : function (data) {
                $("#content_one").val(data["id"]);
                $("#content_two").val(data["news_title"]);
                $("#content_three").val(data["category_data"]["cate_name"]);
                $("#content_four").val(data["images"]);
                $("#content_five").val(data["news_content"]);
                $("#content_six").val(data["create_time"]);
                $("#content_seven").val(data["is_show"]);
            }
        });

        $(".look_div").removeClass("hidden");
    });
    $(".edit").click(function(){
        var id = $(this).attr("edit_id");
        window.location.href = "<{:u('Category/content_edit')}>?id="+id;
    });
    $(".delete").click(function(){
        var id = $(this).attr("delete_id");
        alert(id);
    });

    $(".cancle-button").click(function(){
        $(".look_div").addClass("hidden");
    });

    $("#file").click(function(){
        $(".file_div").addClass("hidden");
    });

</script>
</body>

</html>
