
<!doctype html>

<html lang="zh">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>jQuery简单的文字跑马灯特效</title>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/normalize.css" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/default.css">

    <link rel="stylesheet" href="__ROOT__/Public/Home/css/marquee.css">

    <!--[if IE]>

    <script src="__ROOT__/Public/Home/js/html5shiv.min.js"></script>

    <![endif]-->

</head>

<body>

<div class="htmleaf-container">

    <header class="htmleaf-header">

        <h1>jQuery简单的文字跑马灯特效 <span>An easy to implement marquee JQuery plugin with pause on hover support</span></h1>



    </header>

    <div class="htmleaf-content bgcolor-3">

        <div class="content">

            <div class="container">

                <div class="marquee-sibling">

                    I am here to iritate you

                </div>

                <div class="marquee">

                    <ul class="marquee-content-items">

                        <li>Item 1</li>

                        <li>Item 2</li>

                        <li>Item 3</li>

                        <li>Item 4</li>

                        <li>Item 5</li>

                    </ul>

                </div>

            </div>

        </div>

    </div>



</div>



<script src="__ROOT__/Public/Home/js/jquery.min.js"></script>

<script type="text/javascript" src="__ROOT__/Public/Home/js/marquee.js"></script>





<script>

    $(function (){

        createMarquee({

        });

    });



</script>

</body>

</html>